/**
 * @author waynechu1996@gmail.com
 * Created 2018-06-06 17:34
 */
/* 面包屑导航 */
.crumb {
    margin-bottom: 10px;
    height: 50px;
    line-height: 50px;
    background: #eee;
    color: #888;
    font-size: 14px;
    border-top: 2px solid #c60023;
}