/* 左边导航 */
.nav {
    background: #eeeeee;
    height: 30px;
    line-height: 30px;
}

.nav .nav-user {
    float: left;
}

.nav .nav-user .login {
    display: none;
}

.nav .nav-user .link, .link-text {
    margin-right: 10px;
}

/* 右边导航 */
.nav .nav-list {
    float: right;
}

.nav .nav-list .nav-item {
    display: inline-block;
    margin-left: 5px;
}