<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= htmlWebpackPlugin.options.title %> - MMall电商平台</title>
    <%= require('html-loader!./layout/head-common.html') %>
</head>
<body>
<%= require('html-loader!./layout/nav-simple.html') %>
<div class="page-wrap">
    <div class="register-con w">
        <div class="register-title">用户注册</div>
        <div class="register-box">
            <div class="error-item">
                <i class="fa fa-minus-circle error-icon"></i>
                <p class="err-msg">Error</p>
            </div>
            <div class="register-item">
                <label class="register-label" for="username">
                    <i class="fa fa-user"></i>
                </label>
                <input id="username" class="register-input" type="text" placeholder="请输入用户名">
                <span class="register-require un-select">*</span>
            </div>
            <div class="register-item">
                <label class="register-label" for="password">
                    <i class="fa fa-unlock-alt"></i>
                </label>
                <input id="password" class="register-input" type="password" placeholder="请输入密码">
                <span class="register-require un-select">*</span>
            </div>
            <div class="register-item">
                <label class="register-label" for="password-confirm">
                    <i class="fa fa-lock"></i>
                </label>
                <input id="password-confirm" class="register-input" type="password" placeholder="请确认密码">
                <span class="register-require un-select">*</span>
            </div>
            <div class="register-item">
                <label class="register-label" for="phone">
                    <i class="fa fa-phone"></i>
                </label>
                <input id="phone" class="register-input" type="text" placeholder="请输入联系电话（选填项）">
            </div>
            <div class="register-item">
                <label class="register-label" for="email">
                    <i class="fa fa-envelope"></i>
                </label>
                <input id="email" class="register-input" type="text" placeholder="请输入邮箱地址（选填项）">
            </div>
            <div class="register-item">
                <label class="register-label" for="question">
                    <i class="fa fa-question"></i>
                </label>
                <input id="question" class="register-input" type="text" placeholder="请输入密码提示问题（选填项）">
            </div>
            <div class="register-item">
                <label class="register-label" for="answer">
                    <i class="fa fa-key"></i>
                </label>
                <input id="answer" class="register-input" type="text" placeholder="请输入密码提示问题答案（选填项）">
            </div>
            <a id="submit" class="btn btn-submit">注册</a>
            <div class="link-item">
                <a href="./user-login.html" class="link">已有账号，去登陆 »</a>
            </div>
        </div>
    </div>
</div>
<%= require('html-loader!./layout/footer.html') %>
</body>
</html>