.header .logo {
    position: absolute;
    left: 50px;
    top: 32px;
    display: block;
    width: 150px;
    font-size: 36px;
    font-weight: 700;
    color: #c60023;
    text-decoration: none;
    text-align: center;
}

.header .search-form {
    padding: 40px 0 30px 250px;
}

.header .search-form .search-input {
    width: 550px;
    padding: 10px;
    border: 2px solid #c60023;
    font-size: 15px;
    outline: none;
}

.header .search-form .search-btn {
    position: absolute;
    width: 80px;
    height: 41px;
    border: none;
    background: #c60023;
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    outline: none;
    cursor: pointer;
}

/* 面包屑导航 */
.crumb {
    margin-bottom: 10px;
    height: 50px;
    line-height: 50px;
    background: #eee;
    color: #888;
    font-size: 14px;
    border-top: 2px solid #c60023;
}